@import '../../../styles/colors.scss';
.button{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 7px 21px;
    border-radius: $radius;
    background-color: inherit;
    border: 1px solid $color-primary;
}

@media (max-width: 576px){
    .button{
        font-size: 0.9rem;
        padding: 5px 15px;
    }
}