@import '../../styles/fonts.scss';

.indexesPage{
    padding-top: 80px;

    &__title{
        font-weight: 700;
        font-size: 3.4rem;
        display: flex;
        justify-content: center;
        font-family: $font-secondary;
        margin-bottom: 60px;
    }
}

@media (max-width: 992px){
    .indexesPage{
        padding-top: 60px;
        &__title{
            font-size: 2.4rem;
            margin-bottom: 50px;
        }
    }
}
@media (max-width: 576px){
    .indexesPage{
        padding-top: 60px;
        
        &__title{
            font-size: 2.4rem;
            margin-bottom: 40px;
        }
    }
}